# Python for AI

## Basic Python

## What is Computer Programming/coding?


*   Computer programming, also known as coding, is the process of wrting/giving instructions to a computer so that a computer can follow to perform specific tasks.
*   These instructions are written in a programming language, which is a set of rules and symbols that enable communication between humans and computers.

*   Suppose you want to tell the computer to **print "Hello, world!"** on the screen. In Python, the code for this task looks like this:

In [ ]:
print("Hello World")

Hello World

In [ ]:
!nvidia-smi

Sat Feb 15 15:12:02 2025
+-----------------------------------------------------------------------------------------+
| NVIDIA-SMI 550.54.15              Driver Version: 550.54.15      CUDA Version: 12.4     |
|-----------------------------------------+------------------------+----------------------+
| GPU  Name                 Persistence-M | Bus-Id          Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |           Memory-Usage | GPU-Util  Compute M. |
|                                         |                        |               MIG M. |
|=========================================+========================+======================|
|   0  Tesla T4                       Off |   00000000:00:04.0 Off |                    0 |
| N/A   59C    P8             13W /   70W |       0MiB /  15360MiB |      0%      Default |
|                                         |                        |                  N/A |
+-----------------------------------------+------------------------+----------------------+

+-----------------------------------------------------------------------------------------+
| Processes:                                                                              |
|  GPU   GI   CI        PID   Type   Process name                              GPU Memory |
|        ID   ID                                                               Usage      |
|=========================================================================================|
|  No running processes found                                                             |
+-----------------------------------------------------------------------------------------+

In [ ]:
print('Hello World \nThis is Python code \nWelcome')

Hello World
This is Python code
Welcome

In [ ]:
# This is formatted as code

# Data Types:
In programming, data type refers to the type of value a variable has and what type of mathematical, relational or logical operations can be applied without causing an error.



*   **Integer (int):** Integers are whole numbers, both positive and negative, without any decimal point. Examples of integers are -3, 0, 42, 1000, etc.
*   **Float (float):** Floats are numbers that have a decimal point or use exponential notation. Examples of floats are 3.14, -0.001, 2.0, etc.


*   **String (str):** Strings are sequences of characters, enclosed in either single quotes (' ') or double quotes (" "). Examples of strings are "Hello", 'Python', "123", etc.
*   **Boolean (bool):** Booleans represent truth values. They can only be either True or False.

In [ ]:
a = 10
b = 30.05
c = "Harsh"
print(a,b,c, sep="--")

10--30.05--Harsh

In [ ]:
#integer datatype
num_students = 30
#float
average_grade = 85.5
#string
student_name = "Alice"
#boolean
is_passing = True

In [ ]:
print(num_students,average_grade,student_name)

30 85.5 Alice

In [ ]:
# Print the above data types by using its variables using single print statement
# Your code starts here


# Output
# 30
# 85.5
# Allice
True
# print(num_students,average_grade,student_name,is_passing,sep="\n")

# # Your code ends here

print(f"Name {student_name} \nage: {num_students}")
print("Name {student_name} \nage: {num_students}")

Name Alice
age: 30
Name {student_name}
age: {num_students}

In [ ]:
#  Create variable called 'Name' and store your name(string data type) in that variable

# Create variable called 'email_address' and store your email address(string data type) in that variable

# Create variable roll_number and your store roll number(int data type) in that variable

#Print your name, email address and roll number using single print statement and it should be arranged vertically

# Arithmetic and Logic operators:
In Python, arithmetic operators are used for basic math operations:
*   Addition (+)
*   Subtraction (-)

*   Multiplication (*)
*   Division (/)

*   Exponentiation (**)
*   Modulus (%) (gives the remainder of a division operation)

*   Floor Division (//) (divides and rounds down to the nearest whole number)



Logic operators are used for logical comparisons:


*   Equals (==)

*   Not Equals (!=)
*   Greater Than (>)


*   Less Than (<)

*   Greater Than or Equal To (>=)
*   Less Than or Equal To (<=)

*   AND (and)
*   OR (or)

*   NOT (not)

In [ ]:
# Arithmetic operators
num1 = 10
num2 = 5

# Addition
result = num1 + num2
print(result)

# Subtraction
sub_result = num1-num2
print(sub_result)

# Multiplication
mul_result = num1*num2
print(mul_result)

# Division
div_result = num1/num2
print(div_result)

#modulo
mod_result = 203 % 100
print(mod_result)

15
5
50
2.0
3

In [ ]:
print(3**3)

27

In [ ]:
a=19
b=5

print(a/b)
print(a//b)

3.8
3

# Logical Operators in Python
1. And
2. Or
3. Not

In [ ]:
num1 = False
num2 = True
print(num1 and num2)

num1 = True
num2 = True
print(num1 and num2)

num1 = False
num2 = True
print(num1 and num2)

num1 = False
num2 = False
print(num1 and num2)

False
True
False
False

In [ ]:
num1 = False
num2 = True
print(num1 or num2)

num1 = True
num2 = True
print(num1 or num2)

num1 = False
num2 = True
print(num1 or num2)

num1 = False
num2 = False
print(num1 or num2)

True
True
True
False

In [ ]:
x = 100
print(x != 100)

False

In [ ]:
val = False
print(not val)

True

# inbuild function in python

In [ ]:
a = True
print(type(a))

<class 'bool'>

In [ ]:

b = "45"
print(type(b))
x = int(b)  # int() is a function to convert a value to integer.
y = b*2

print(y)

y = x*2

print(y)

<class 'str'>
4545
90

In [ ]:

# Type conversion in python
num = "1234"
print(type(num))
n = int(num)
print(type(n))

<class 'str'>
<class 'int'>

# input function:
The **input()** function in Python is used to accept user input from the keyboard. It allows the user to enter data during the execution of the program.

In [ ]:
# num = 5
num1 = int(input("Enter some integer"))  #prompt = to ask
num2 = int(input("Enter a sencond number"))
sum = num1+num2
print(sum)

Enter some integer10
Enter a sencond number20
30

In [ ]:
num = input("Enter a number: ")
num2 = input("Enter a number: ")

num = float(num)

num2 = float(num2)

result=num+num2
print(result)

Enter a number: 10
Enter a number: 20
30.0

In [ ]:
num = input("Enter a number")
print(type(num))
num = int(num)
print(type(num))

Enter a numberhhhh
<class 'str'>

ValueError: invalid literal for int() with base 10: 'hhhh'

In [ ]:
# Input: Ask the user to enter three numbers

# Perform addition using the three input numbers

# Divide the sum by the third user input number

# Subtract the result of division from the sum

# Check whether the result after subtraction is greater than or equal to the original sum or not

# Conditional Statements in Python
* Conditional statements are used to execute actions or set of actions based on
whether a condition is true or not.

* Python primarily uses three types of conditional statements:
1. if statements: An if statement is the most basic form of a conditional statement that executes a set of statements only if a condition is true.

2. elif statements: The elif (else if) statement checks another condition if the previous if or elif conditions were not true.
3. else statements: The else statement executes a block of code if none of the preceding conditions are true.

In [ ]:
'''
  if True or False:
       block 1
       print("First block")

  elif True or False:
       block2
       print("second block")

  elif True or False:
       block 3
       print("third block)

  elif True or False:
       block 4
       print("4th block)

  else:
       block 5
       print("5th block")

actual code continues...

'''

'\n  if True or False:\n       block 1\n       print("First block")\n\n  elif True or False:\n       block2\n       print("second block")\n\n  elif True or False:\n       block 3\n       print("third block)\n\n  elif True or False:\n       block 4\n       print("4th block)\n\n  else:\n       block 5\n       print("5th block")\n\nactual code continues...\n\n'

In [ ]:
condition1 = False
condition2 = True
if not condition1:
  print("Hi from If Block")
    # Execute this block if condition1 is true
elif condition2:
  print("Hi from ELif Block")
    # Execute this block if condition1 is not true and condition2 is true
else:
  print("Hello from Else Block")
    # Execute this block if none of the above conditions are true

Hi from If Block

In [ ]:
'''if True or False:
       print(if block)
   else:
       print(else block)
'''

In [ ]:
if False:
  print("Hello")
  print("Hello")
else:
  print("Bye")

Bye

In [ ]:
number = float(input("Enter a number: "))

if number > 0:
    print("The number is positive.")
elif number == 0:
    print("The number is zero.")
else:
    print("The number is negative.")

Enter a number: 2
The number is positive.

In [ ]:
age = int(input("Enter your age: "))

if age < 13:
    print("You are a child.")
elif age < 20:
    print("You are a teenager.")
elif age < 60:
    print("You are an adult.")
else:
    print("You are a senior.")

Enter your age: 12
You are a child.

In [ ]:
'''Develop a Python program that reads a studentâ€™s percentage score from the input, then prints out their grade according to the following scale:

90% and above:  Grade A
80-89%          Grade B
70%-79%         Grade C
60%-69%:        Grade D
Below 60%:      Grade F

Task Instructions:
Ask the user to input their percentage score (it can be a floating-point value).
Use conditional statements (if, elif, else) to determine the grade based on the score entered.
Print the appropriate grade based on these conditions.'''

In [ ]:
grade=90
if grade >= 90 and grade <=100:
  print("Grade A")
elif grade >= 80 and grade <= 89:
  print("Grade B")
elif grade >= 70 and grade <= 79:
  print("Grade C")
elif grade >= 60 and grade <= 69:
  print("Grade D")
else:
  print("Grade E")

Grade A

In [ ]:
score = float(input("Enter your score: "))

if score >= 50:
    print("Congratulations, you have passed!")
    if score >= 90:
        print("You scored an A!")
    elif score >= 75:
        print("You scored a B!")
    else:
        print("You scored a C!")
else:
    print("Sorry, you have failed.")

Enter your score: 10.5
Sorry, you have failed.

For loops in Python are used to iterate over a sequence (like a list, tuple, string, etc.) and execute a block of code for each item in the sequence.

In [ ]:
for i in range(5,101,5):
    print(i)

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [ ]:
#About Range() function
# Example 3: Using range() function


for i in range(9,100,10):
    print(i)

9
19
29
39
49
59
69
79
89
99

In [ ]:

# Example 4: Using range() with start, stop, and step
for i in range(1, 12, 2):
    print(i*i)

1
9
25
49
81
121

In [ ]:

# Example 5: Nested loops
for i in range(3):   #[0,1,2]
    for j in range(2): #[0,1]
        print('i =', i, 'j =',j)

i = 0 j = 0
i = 0 j = 1
i = 1 j = 0
i = 1 j = 1
i = 2 j = 0
i = 2 j = 1

In [ ]:
# Break and Continue
for i in range(10,-1,-1):
  # if i%2==0:
  #   continue
  print(i)


# for i in range(10000):
#   # if i%2==0:
#   #   continue
#   print(i)

10
9
8
7
6
5
4
3
2
1
0

'''

initialization
while condition
   block of code
   increment/decrement


'''

In [ ]:
# Simple program to count from 1 to 5 using a while loop

count = 1

print("Counting from 1 to 5:")
while count <= 5:
    print(count)
    count = count + 1

Counting from 1 to 5:
1
2
3
4
5

In [ ]:
# Simple program to count from 5 to 1  using a while loop
num = 40
print("Countdown from", num, "to 0:")
while num >= 0:
    print(num)
    num = num - 1

Countdown from 40 to 0:
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [ ]:
while(True):
  print("Hello world")

# **Functions In Python**

*   If we want to use a piece/block of code at different places in our program or if we want to use a particular code repeatedly in our code then we should define that code inside a function.

*   Whenever we need that code then we can call that function so that the particular code will get executed.

In [ ]:
# Define a simple function
def greet():
    print("Hello, World!")

# # Call the function
# greet()

In [ ]:
greet()

Hello, World!

In [ ]:
# Define a function with parameters
def greet(name):
    print("Hello!",name)

# Call the function with an argument
greet("harshit")

Hello! harshit

In [ ]:
# Define a function that returns a value
def add(a, b):
    return a + b

# Call the function and store the result in a variable
result = add(3, 5)
print("The sum is",result)

The sum is 8

In [ ]:
# Define a function with a default parameter value
def greet(name="Guest"):
    print("Hello!",name)


# Call the function without arguments
greet()

# # Call the function with an argument
greet("Alice")

Hello! Guest
Hello! Alice

In [ ]:
# Define a function with multiple parameters
def describe_pet(pet_name, animal_type="dog"):
    print("I have a ",animal_type)
    print("My",animal_type,"s name is",pet_name)

# Call the function with positional arguments
describe_pet("charlie")

# Call the function with keyword arguments
describe_pet(pet_name="Whiskers", animal_type="cat")

I have a  dog
My dog s name is charlie
I have a  cat
My cat s name is Whiskers

In [ ]:
# Define a function that takes a variable number of arguments
def make_sum(*nums):
    n = len(nums)
    sum = 0
    for i in range(len(nums)):
      sum = sum + nums[i]
    mul=1
    for i in range(n):
      mul = mul * nums[i]
    return sum ,mul

# Call the function with different numbers of arguments
print(make_sum(10.5))
print(make_sum(10.5,20.5,30.2))

(10.5, 10.5)
(61.2, 6500.55)

In [ ]:
# Define a function to generate Fibonacci sequence
def fibonacci(n):
    sequence = []
    a, b = 0, 1
    sequence.append(a)
    sequence.append(b)
    for i in range(2,n):
        a, b = b, a + b
        sequence.append(b)
    return sequence

# Test the Fibonacci function
print(fibonacci(10))  # Output: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
def is_prime(n):
  if(n<=1):
    return False
  else:
    for i in range(2,n):
      if(n%i==0):
        return False
    return True

print(is_prime(-5))
print(is_prime(4))
print(is_prime(7))
print(is_prime(13))

False
False
True
True

In [ ]:
#Palindrome check
def palindrome_check(s):
  n = len(s) # no of letter is 6
  i=0
  j=n-1
  while(i<=j):
    if(s[i] != s[j]):
      return False
    else:
      i=i+1
      j=j-1
  return True

print(palindrome_check("banana"))
print(palindrome_check("MOM"))

False
True

# **Advanced Data Types in Python**



1.   **List**
2.   **Tuple**
3.   **Set**
4.   **Dictionary**


# Introduction to Python Lists



In Python, a list is a collection of items that are ordered and changeable. Lists are one of the most versatile data types in Python and are used to store multiple items in a single variable.

### Creating a List

1.   List item
2.   List item


You can create a list by placing a sequence of comma-separated items inside square brackets [ ]

In [ ]:
list1=[]

print(type(list1))
list1.append(5)
print(list1)
list1.append(2)

print(list1)

<class 'list'>
[5]
[5, 2]

In [ ]:
# Creating a list of fruits
fruits = ["apple", "banana", "orange", "grape"]
# Accessing the first element of the list
#apple  - 0
#banana - 1
#orange - 2
#grape  - 3

print(fruits[-1])


print(fruits)
print(fruits[-1])
print(fruits[-2])
print(fruits[-3])
print(fruits[-4])

fruits[1]="Melon"
print(fruits)

grape
['apple', 'banana', 'orange', 'grape']
grape
orange
banana
apple
['apple', 'Melon', 'orange', 'grape']

In [ ]:
# Heterogeneous nature in Lists
numbers = [1, 2, 3, 4, 5, "python",10.98]
print(numbers)

[1, 2, 3, 4, 5, 'python', 10.98]

### Modifying Elements in a List
Lists are mutable, which means you can change the values of individual elements.

In [ ]:
fruits = ["apple", "banana", "orange", "grape"]
# Changing the second element of the list
fruits[1] = "kiwi"
print(fruits)

['apple', 'kiwi', 'orange', 'grape']

In [ ]:
# Adding a new fruit to the end of the list
fruits.append("mango")
print(fruits)

['apple', 'kiwi', 'orange', 'grape', 'mango']

In [ ]:
# Removing "orange" from the list
# fruits.remove("orange")
# fruits.remove("grape")        # fruits -> List      remove() -> Function      "orange" -> string parameter/argument
print(fruits)

fruits.insert(5,"Hhhhhaaaa")
print(fruits)

['apple', 'kiwi', 'Hhhhh', 'mango', 'Hhhhh']
['apple', 'kiwi', 'Hhhhh', 'mango', 'Hhhhh', 'Hhhhhaaaa']

In [ ]:
# Removing the second fruit from the list
removed_fruit = fruits.pop(1)      # removed_fruit -> variable
print('removed fruit is: ',removed_fruit)
print('list after poping: ', fruits)

removed fruit is:  mango
list after poping:  ['apple', 'Hhhhh', 'Hhhhhaaaa']

### List Length
You can find the number of items in a list using the **len()** function

In [ ]:
# Finding the number of fruits in the list
fruits = ["apple", "banana", "orange", "grape"]
num_fruits = len(fruits)
print(num_fruits)

4

## Class Work
*   Create a list of 10 numbers as per your choice
*   Add your name in the last of the list
*   Remove the element at 3rd position starting from beginning
*   Exchange or swap the element that are at the last and the first position
*   Get the total number of elements in the list

In [ ]:
# Your code starts here

numbers = [1, 2, 12, 19, 17, 36, 99,3434, 101, 21]
print("list:", numbers)
numbers.append('Mashdemy')
print("list:", numbers)
numbers.pop(2)
print("list:", numbers)


numbers[0], numbers[-1] = numbers[-1], numbers[0]
print("list:", numbers)
numbers[0], numbers[len(numbers)-1] = numbers[len(numbers)-1], numbers[0]

temp=numbers[0]
numbers[0]=numbers[-1]
numbers[-1]=temp

print("list:", numbers)
total_elements = len(numbers)
print("number of elements:", total_elements)

list: [1, 2, 12, 19, 17, 36, 99, 3434, 101, 21]
list: [1, 2, 12, 19, 17, 36, 99, 3434, 101, 21, 'Mashdemy']
list: [1, 2, 19, 17, 36, 99, 3434, 101, 21, 'Mashdemy']
list: ['Mashdemy', 2, 19, 17, 36, 99, 3434, 101, 21, 1]
list: ['Mashdemy', 2, 19, 17, 36, 99, 3434, 101, 21, 1]
number of elements: 10

In [ ]:
# Define a list
numbers = [1, 2, 3, 4, 5]

# Inserting the number 6 at index 2
# name_of_list.insert(index_no,Element)
numbers.insert(2, 6)

print(numbers)

[1, 2, 6, 3, 4, 5]

In [ ]:
# Define a list
numbers = [3, 1, 4, 1, 5, 9, 2, 6]

# Sort the list
sorted_numbers_1 = sorted(numbers)
print('Sorted list: ', sorted_numbers_1)
sorted_numbers = sorted(numbers, reverse = True)
print('Sorted list: ', sorted_numbers)


# #Printing the new list
# print('Sorted list: ', sorted_numbers)
# print('Sorted list: ', sorted_numbers_1)
# print(numbers)

Sorted list:  [1, 1, 2, 3, 4, 5, 6, 9]
Sorted list:  [9, 6, 5, 4, 3, 2, 1, 1]

In [ ]:
# Define a list
numbers = [3, 1, 4, 1, 5, 9, 2, 6]
print(numbers)
# Sort the list in place
numbers.sort()

# numbers.reverse()

#printing the list
print("Sorted list:", numbers)

[3, 1, 4, 1, 5, 9, 2, 6]
Sorted list: [1, 1, 2, 3, 4, 5, 6, 9]

In [ ]:
# Define a list
numbers = [100, 2, 3, 4, 5, 9, 6, 37, 27]

# Reverse the list
numbers.reverse()


print("Reversed list:", numbers)

Reversed list: [27, 37, 6, 9, 5, 4, 3, 2, 100]

### List Slicing in Python
List slicing is a technique in Python that allows you to extract a portion of a list by specifying a range of indices. It provides a way to create a new list containing a subset of elements from an existing list.

The syntax for list slicing is as follows:

*   **new_list = old_list[start_index:end_index]**

In [ ]:
# Define a list
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Extract the elements from index 2 to index 5 (exclusive)
#numbers[n:m]  - > get all values from n to m-1
subset = numbers[0:7:2]


print(subset)

[1, 3, 5, 7]

In [ ]:
#slicing from the beginning
subset = numbers[:5]
print(subset)

[1, 2, 3, 4, 5]

In [ ]:
#slicing till the end
subset = numbers[5:]
print(subset)

[6, 7, 8, 9, 10]

# Tuples in Python
Tuples are similar to lists in Python, but with one key difference: tuples are immutable, meaning their elements cannot be changed or modified after creation. Tuples are often used to store collections of data that should not be modified throughout the program.

In [ ]:
# Creating a tuple of fruits
fruits = ("apple", "banana", "orange", "grape",["Harsh","Sakshi"],1.5,True, 100,("a","b","c"))
print(fruits)
print(type(fruits))

# fruits.append( "mango")

('apple', 'banana', 'orange', 'grape', ['Harsh', 'Sakshi'], 1.5, True, 100, ('a', 'b', 'c'))
<class 'tuple'>

In [ ]:
# Accessing the first element of the tuple
first_fruit = fruits[0]
print(first_fruit)

apple

In [ ]:
my_tuple = (1, 2, 3, 4, 5)
subset = my_tuple[1:4]
print('subset of the tuple is: ',subset)

subset of the tuple is:  (2, 3, 4)

In [ ]:
# Creating a tuple
example_tuple = (1, 2, 3, 4, 2, 2)
example_list=[0,0,0]
print(example_tuple[4])
print("Count of 0 in List:", example_list.count(0))

# Indexing
print("Element at index 0:", example_tuple[0])

2
Count of 0 in List: 3
Element at index 0: 1

In [ ]:
example_tuple = (1, 7, 3, 4, 2, 2,100,1)
# Index method
print("First index of 100:", example_tuple.index(100))
# print("First index of 1:", example_tuple.index(1))
# print("First index of 1:", example_tuple[1])

First index of 2: 6

In [ ]:
tuple1=(1,2,3)
tuple2=(4,5,6)
new_tuple=tuple1+tuple2
# new_tuple
2*3
2+2+3
new_tuple1=tuple1*3
new_tuple1

(1, 2, 3, 1, 2, 3, 1, 2, 3)

# Sets



1.   **Sets are unordered collections of unique elements in Python.**
2.   **Duplicate Items are Not allowed**

In [ ]:
set1={10,10,21,12,32,22}
set2=set([1,2,3,4,5,6])
print(type(set2))
print(set1)

<class 'set'>
{32, 21, 22, 10, 12}

In [ ]:
set1.add(100)
set1

{10, 12, 21, 22, 32, 100}

In [ ]:
set1.add(10202)
set1

{10, 12, 21, 22, 32, 100, 10202}

In [ ]:
set1.remove(10202)
set1

{10, 12, 21, 22, 32, 100}

In [ ]:
st1={1,2,3,5}
st2={3,4,5,1}
st3={5,6,7,1}
union_set=st1.union(st2,st3)
print(union_set)
Intersection_Set=st1.intersection(st2,st3)
print(Intersection_Set)
# print(st1.union(st2))
# print(st1.intersection(st2))

{1, 2, 3, 4, 5, 6, 7}
{1, 5}

In [ ]:
st1={1,2,3}
st2={3,4,5}

In [ ]:
# Set difference
print(st1-st2)

# Symetric difference

print(st1.symmetric_difference(st2))

{1, 2}
{1, 2, 4, 5}

In [ ]:
A={1,2}
B={1,2,3,4,5}
print(A.issubset(B))

True

In [ ]:
set_1={1,20,33} # Subset of Set2
set_2={1,2,3,4,5} # Superset of Set1
# issuperset and isdisjoint methods
print("1 is superset of 2:", set_1.issuperset(set_2))
print("2 is superset of 1:", set_2.issuperset(set_1))
print("1 is subset of 2:", set_1.issubset(set_2))
print("2 is subset of 1:", set_2.issubset(set_1))
print("2 is Disjoint of 1:", set_2.isdisjoint(set_1))

1 is superset of 2: False
2 is superset of 1: False
1 is subset of 2: False
2 is subset of 1: False
2 is Disjoint of 1: False

In [ ]:
# Creating sets
set_a = {1, 2, 3, 4, 30 , 40}
set_b = {80,90}

#super set and sub set

# issuperset and isdisjoint methods
print("A is superset of B:", set_a.issuperset(set_b))
print("A is disjoint with B:", set_a.isdisjoint(set_b))

A is superset of B: False
A is disjoint with B: True

In [ ]:

# update method
set_a.update(set_b)
print("Updated Set A:", set_a)

Updated Set A: {80, 1, 2, 3, 4, 40, 90, 30}

In [ ]:

# add, remove, discard, pop, clear, copy methods
set_a.add(60)  # Adding element to set
print(set_a)
# set_a.remove(90)  # Removing element throws error if element not present
# print(set_a)
# set_a.remove(100)  # Removing element throws error if element not present
# print(set_a)

{1, 2, 3, 4, 80, 30, 40, 60}

In [ ]:
set_a.discard(100)  # Discards element if present, no error if not
print(set_a)

{1, 2, 3, 4, 80, 30, 40, 60}

In [ ]:
print(set_a)
popped_element = set_a.pop()  # Removes an arbitrary element
print("Popped Element:", popped_element)
print(set_a)

{1, 2, 3, 4, 80, 30, 40, 60}
Popped Element: 1
{2, 3, 4, 80, 30, 40, 60}

In [ ]:
set_a={1,2,3}

In [ ]:
set_copy = set_a.copy()  # Creates a copy of the set
set_a.clear()  # Clears the set
print("Copy of Set:", set_copy)
print("Copy of Set:", set_a)

Copy of Set: {1, 2, 3}
Copy of Set: set()

# **Dictionary** key-value pairs

In [ ]:
# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 25, 'location': 'Wonderland'}
print(my_dict)  # Safer way to access values
my_dict["name"]
# # Using get, clear, copy, update, keys, values, and items methods
print(my_dict.get('location'))  # Safer way to access values
print(my_dict.get('age'))  # Safer way to access values
print(my_dict.get('name'))  # Safer way to access values

{'name': 'Alice', 'age': 25, 'location': 'Wonderland'}
Wonderland
25
Alice

In [ ]:
print(my_dict.keys())
print(my_dict.values())
print(my_dict.items())

dict_keys(['name', 'age', 'location'])
dict_values(['Alice', 25, 'Wonderland'])
dict_items([('name', 'Alice'), ('age', 25), ('location', 'Wonderland')])

In [ ]:
# Update method
my_dict.update({'age': 26, 'email': 'alice@example.com'})
print("Updated Dictionary:", my_dict)

my_dict['name']="harsh"

print("Updated Dictionary:", my_dict)

Updated Dictionary: {'name': 'Alice', 'age': 26, 'location': 'Wonderland', 'email': 'alice@example.com'}
Updated Dictionary: {'name': 'harsh', 'age': 26, 'location': 'Wonderland', 'email': 'alice@example.com'}

In [ ]:

# pop, popitem, fromkeys, setdefault methods
popped_value = my_dict.pop('location')  # Pops 'location' key
print("Popped Value:", popped_value)
print("Updated Dictionary:", my_dict)

Popped Value: Wonderland
Updated Dictionary: {'name': 'harsh', 'age': 26, 'email': 'alice@example.com'}

In [ ]:
print(my_dict)

{'name': 'harsh', 'age': 26, 'email': 'alice@example.com'}

In [ ]:
key, value = my_dict.popitem()  # Pops last inserted key-value pair
print("Popitem:", key, value)
value

Popitem: age 26

26

In [ ]:
new_dict = dict.fromkeys(['a', 'b', 'c',"h","aa"], 0)  # Creates new dict from keys with same value

print("Fromkeys:", new_dict)

Fromkeys: {'a': 0, 'b': 0, 'c': 0, 'h': 0, 'aa': 0}

# String

In [ ]:
# Example string
s = "Hello, world!"
a="01234567891011"

str1="Hello"
str2='World'
str3=''' harsh '''
str4="""1"""

print(type(str1))
print(type(str2))
print(type(str3))

# Indexing (zero-based)
print(s[0])
print(s[7])

# # Slicing
print(s[1:5])
print(s[7:])
print(s[:5])
print(s[-1])

<class 'str'>
<class 'str'>
<class 'str'>
H
w
ello
world!
Hello
!

In [ ]:
text = "apple, banana, cherry"
words = text.split(", ")
print(words)
print(len(words))

print(type(words))

words_joined = " ".join(words)
print(words_joined)
words_joined = ", ".join(words)
print(words_joined)
print(type(words_joined))

['apple', 'banana', 'cherry']
3
<class 'list'>
apple banana cherry
apple, banana, cherry
<class 'str'>

In [ ]:
phrase = "Python Programming"
print(phrase.lower())

print(phrase.upper())

python programming
PYTHON PROGRAMMING

In [ ]:
text = "hello world"
print(text.capitalize())

print(text.index("o"))

print(text.count("l"))

Hello world
4
3

In [ ]:
statement = "harshh Vajpayee, Ai Engineer"
print(statement.isupper())

print(statement.islower())

print(statement.startswith("harshit"))

print(statement.endswith("World"))

False
False
False
False

# Modules and Packages
Importing and using standard and third-party libraries.

In [ ]:
# Importing the math module
import math
print(math.sqrt(16))  # Output: 4.0
list1=[1,2,3,4]
print(list1*2)
# # Using a third-party package (e.g., numpy)
# import numpy as np
# array = np.array([1, 2, 3, 4])
# print(array * 2)  # Output: [2 4 6 8]

4.0
[1, 2, 3, 4, 1, 2, 3, 4]

# File Handling
Reading from and writing to files.

In [ ]:
# Writing to a file
with open("example.txt", "w") as file:
    file.write("Hello, file!")

# Reading from a file
with open("example.txt", "r") as file:
    content = file.read()
    print(content)  # Output: Hello, file!

Hello, file!

In [ ]:
 result = 10 / 0

ZeroDivisionError: division by zero

#Exception Handling
Managing errors using try-except blocks.

In [ ]:
try:
    result = 10 / 0
except ZeroDivisionError:
    print("Cannot divide by zero!")

Cannot divide by zero!